<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="piano.pianotrainer">

    <!-- http://www.flaticon.com/free-icon/piano-keyboard_65096#term=piano keyboard&page=1&position=38 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/piano"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/piano"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>